/* Radio: Biorac Janko */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    margin: auto;
    padding: 0;
    font-family: 'Lato',sans-serif;
    
}
h3, h1, h2, h4{font-family: 'Lato',sans-serif;}
#header{
    width: calc(100% - padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightblue;
    padding: 10px;
    padding-left: 100px;
    font-family: 'Lato',sans-serif;

}
#find{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Lato',sans-serif;
}

#header img{
    margin-right: 15px;
}
#other{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 100px;
}
#mainFun{
    height: 1000px;
    width: 345px;
    background-color: rgb(245, 243, 243);
    float: left;

}
.inboxs{
    padding-top: 50px;
}
#Logout{
    font-weight: bold;
}
.inboxs input{
    border: none;
    width: calc(100% - 100px);
    background-color: rgb(245, 243, 243);
    text-align: left;   
    margin-left: 100px;
    padding-bottom: 5px;
    font-size: 14px;
    font-family: 'Lato',sans-serif;
}
.inboxs input:focus, .inboxs input:hover{
    outline: none;
    background-color: lightgray;
}
.inboxs input:focus{
    outline: none;
    background-color: rgb(245, 243, 243);
}

#current{
    float: left;
    width: calc(100% - 345px - 300px);
    padding: 30px 0px 150px 150px;
    
}

#currhead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#check{
    width: 16px;
    border-radius: 7px;
}
#addtask label{
    margin: 3px;
}

#check:hover{
    background-color: lightgray;
}
#surrounding{
    width: 100%;
    border: 0.5px solid lightgray;
    padding: 20px;
    padding-right: 22px;
    border-radius: 10px;
    margin: auto;
}
#surr10{
    display: flex;
    flex-direction: row;
}
#txarea{
    width: calc(100% - 10px);
    padding: 5px;
}
#cancel{
    border: none;
    background-color: white;
    font-family: 'Lato',sans-serif;
    margin-top: 10px;    
    padding: 5px;

}
#addtaskbutton{
    border: none;
    background-color: lightblue;
    font-family: 'Lato',sans-serif;
    margin-top: 10px;
    padding: 5px;
}

#moreoptions{
    padding-top: 15px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#moreoptions img{
    padding-right: 5px;
    margin: 0;
}
#checkDiv{
    padding-top: 5px;
    padding-bottom: 10px;

}
#checkDiv a{
    color: black;
    text-decoration: none;
}
#inboxs .InboxApp{
    background-color: lightgray;
}
#other select{
    font-family: 'Lato',sans-serif;
  }
#Logout{
    background-color: lightblue;
    border: none;
    font-family: 'Lato',sans-serif;
}
#projects{
    padding-left: 65px;
    padding-top: 20px;
}

#projectsList{
    list-style: none;
}
.marked{
    background-color: lightgray;
}
#projects a{
    text-decoration: none;
    color: black;
}
#current1{
    float: left;
    width: calc(100% - 345px - 100px);
    margin: 20px 0px 50px 50px;
    
}
#currhead1 h2{
    font-family: 'Lato',sans-serif;
}
.board h4, label{
    font-family: 'Lato',sans-serif;
    font-weight: normal;
}
#flexdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#projectsList{
    font-family: 'Lato',sans-serif;
    font-weight: normal;
}
.taskDivProject{
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}
.taskDivProject label{
    font-size: 17px;
}
#newProject{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 25px;
}
#newProject img{
    width:16px;
    opacity: 0.5;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

#mainDiv1{
    margin: auto;
    width:40%;
    height:40%;      
    background-color: white;
}
#mainDiv1 h3{
    background-color: rgb(211, 239, 248);
    color: darkslategray;
    font-family: 'Lato',sans-serif;
    padding:8px;
}

#View{
display: flex;
flex-direction: row;
}
#Form{
    display: flex;
    flex-direction: column;
    
}
#Form p{
    margin-bottom: 0px;
}
.par{
    margin-top: 8px;
    margin-bottom: 0;
}
#Add{
    background-color: lightblue;
}
#Footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 125px;
    border-top: 0.5px solid lightgray;
}
#Footer input{
    margin: 5px;
    margin-right: 0px;
    border: none;
    font-family: 'Lato',sans-serif;
}
#header input:hover, img:hover {
    background-color: rgb(230, 228, 228);
    padding: 2px;
}
#skloni{
    border: none;
    background-color: transparent;
}

#archivedSection{
    margin-top: 15px;
    padding-top: 15px;
}


#archivedSection ul{
    margin-left: 65px;
}

#spec li{
    margin-left: -65px;
    padding: 0;

}
#spec a{
    font-style: normal;
    font-family: 'Lato',sans-serif; 
    color: black;
}
#spec a:hover{
    font-style: normal;
    font-family: 'Lato',sans-serif; 
    color: black;
    text-decoration: none;
}

#divinlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#divinlist input{
    padding-top: 0;
    margin-right: 25px;
    margin-top: -8px;
    border: none;
    background-color: transparent;
    font-size: 25px;
}

.priority{
    padding: 0;
    margin: 0;
    
}

#slicice{
    padding-top: 6px;
}
#upcomingHeader{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Day{
    display: flex;
    flex-direction: column;
    text-align: center;
}